server:
  port: 8765
spring:
  config:
    activate:
      on-profile: test
    name: test-YAML
  jpa:
    database: h2
    show-sql: true
    defer-datasource-initialization: true
    hibernate:
      ddl-auto: create-drop
  datasource:
    platform: org.hibernate.dialect.H2Dialect
    url: jdbc:h2:mem:testdb
    username: sa
    password: pass
    driverClassName: org.h2.Driver
  h2:
    console:
      enabled: true